${WHITELIST_ENABLED}ENV{ID_SERIAL_SHORT}=="${WHITELIST_SERIAL}", GOTO="whitelist_end"
${WHITELIST_ENABLED}ATTRS{serial}=="${WHITELIST_SERIAL}", GOTO="whitelist_end"
ACTION=="${ACTION}", SUBSYSTEM=="${SUBSYSTEMS}", ENV{DEVTYPE}=="${DEVTYPE}",${ADDITIONAL} RUN+="${COMMAND}"
LABEL="whitelist_end"
